@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "../vars.css";

.board-container {
  font-family: $font;
  display: flex;
  gap: 20px;
  width: fit-content;
}
