@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "../vars.css";

.board-container {
  font-family: $font;
  display: flex;
  gap: 20px;
  width: fit-content;
}

.placeholder {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: $radius;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  margin-top: 11px;
}
